---
import videos from '../../data/videos';
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
  return [
    { params: { slug: 'promesas-en-javascript' } },
    { params: { slug: 'javascript-reduce' } },
    {
      params: {
        slug: 'aprende-a-usar-correctamente-el-metodo-map-en-javascript',
      },
    },
    {
      params: {
        slug: 'te-ensenio-a-crear-una-app-con-reactjs-y-rick-y-morty-ep1-inicializando-el-proyecto-y-markup-base',
      },
    },
    {
      params: {
        slug: 'te-ensenio-a-crear-una-app-con-reactjs-y-rick-y-morty-ep2-renderizando-los-personajes-desde-el-api',
      },
    },
    {
      params: {
        slug: 'te-ensenio-a-crear-una-app-con-reactjs-y-rick-y-morty-ep3-filtrando-personajes-y-mostrando-detalles',
      },
    },
    {
      params: {
        slug: 'te-ensenio-a-crear-una-app-con-reactjs-y-rick-y-morty-ep4-estado-global-con-context-api',
      },
    },
  ];
}

const { slug } = Astro.params;

const video = videos.find((video) => video.slug === slug);

if (!video) return Astro.redirect('/404');
---

<Layout title={`alefsdev | ${video.title}`} description={video.description}>
  <h1>Helloooo {slug}</h1>
</Layout>
