---
import Layout from '../layouts/Layout.astro';
---

<Layout title='alefsdev | 404'>
  <div class='flex flex-col items-center justify-center'>
    <span class='text-xl mt-6'>404 Página no encontrada.</span>
  </div>
</Layout>
