---
import Layout from '../layouts/Layout.astro';
---

<Layout title="alefsdev | 404">
  <section class="pt-8 md:pt-12 mx-4 md:mx-0">
    <h2>404 Página no encontrada!</h2>
    <p>La página que buscas no existe.</p>
    <a href="/">Regresar al inicio</a>
  </section>
</Layout>
