---
import Link from '../components/Link.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="alefs.dev | Home">
  <main class="main">
    <h1 class="heading">alefsdev</h1>
    <ul class="links">
      <Link title="Twitch" href="https://www.twitch.tv/alefsdev" />
      <Link title="Instagram" href="https://www.instagram.com/alefsdev" />
      <Link title="Github" href="https://www.github.com/alejandro1709" />
      <Link title="Youtube" href="https://www.youtube.com/@alefsdev" />
      <Link title="Contacto" href="mailto:contacto@alefs.dev" target="_self" />
    </ul>
  </main>
</Layout>

<style>
  .main {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .heading {
    display: inline;
    width: fit-content;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  .heading:hover {
    transform: scale(1.1) rotate(5deg) perspective(1px);
  }

  .links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    width: 15%;
  }

  /* media queries for medium devices */
  @media (max-width: 1024px) {
    .heading {
      font-size: 4rem;
    }
    .links {
      width: 40%;
    }
  }

  /* media queries for smaller devices */
  @media (max-width: 768px) {
    .heading {
      font-size: 3rem;
    }
    .links {
      width: 80%;
    }
  }
</style>
