---
import Layout from '../layouts/Layout.astro';
---

<Layout title='alefs.dev | Home'>
  <main class='bg-red-300'>
    <section class='pt-8 md:pt-10 mx-4 md:mx-0'>Holaaa</section>
  </main>
</Layout>
