---
import Link from '../components/Link.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="alefs.dev | Home">
  <main class="main">
    <h1 class="heading">alefsdev</h1>
    <ul class="links">
      <Link title="Twitch" href="https://www.twitch.tv/alefsdev" />
      <Link title="Instagram" href="https://www.instagram.com/alefsdev" />
      <Link title="Github" href="https://www.github.com/alejandro1709" />
      <Link title="Youtube" href="https://www.youtube.com/@alefsdev" />
      <Link title="Contacto" href="mailto:contacto@alefs.dev" target="_self" />
    </ul>
  </main>
</Layout>

<style>
  .main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .heading {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
  }

  .links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 26.25rem;
  }
</style>
