---
import Articles from '../components/Articles.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='alefs.dev | Home'>
  <main class=''>
    <Articles heading='Últimos Videos' max={8} href='/videos' />
    <Articles heading='Últimos Proyectos' max={4} href='/proyectos' />
  </main>
</Layout>
