---
import type IArticle from '../types/article';
import type { ArticleType } from '../types/article';
import Article from './Article.astro';

export interface ArticlesProps {
  heading: string;
  max: number;
  href: string;
  target?: string;
  all?: boolean;
  articles: ArticleType[];
}

const {
  heading = 'Section',
  target = '_self',
  max,
  href = '/',
  all,
  articles,
} = Astro.props;

const sliced = articles.slice(0, max);
---

<section class="pt-8 md:pt-8 mx-4 md:mx-0">
  {
    all ? null : (
      <div class="flex items-baseline gap-4 my-4">
        <h2 class="text-3xl font-semibold">{heading}</h2>
        <a
          class="hover:underline hover:scale-95 transition-all text-blue-400 font-semibold"
          href={href}
        >
          Ver Todos
        </a>
      </div>
    )
  }
  <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
    {sliced.map((article: ArticleType) => <Article article={article} target={target} />)}
  </div>
</section>
