---
import type { ArticleType } from '../types/article';
import Article from './Article.astro';

export interface ArticlesProps {
  heading: string;
  max: number;
  href: string;
  all?: boolean;
  articles: ArticleType[];
}

const { heading = 'Section', max = 6, href = '/', all, articles } = Astro.props;
---

<section class='pt-8 md:pt-12 mx-4 md:mx-0'>
  {
    all ? null : (
      <div class='flex items-baseline gap-4 mb-4'>
        <h2 class='text-3xl font-semibold'>{heading}</h2>
        <a
          class='hover:underline hover:scale-95 transition-all text-blue-400 font-semibold'
          href={href}
        >
          Ver Todos
        </a>
      </div>
    )
  }
  <div class='grid grid-cols-2 md:grid-cols-4 gap-2'>
    {articles.map((article: ArticleType) => <Article article={article} />)}
  </div>
</section>
