<footer class='flex justify-center items-center my-8 md:mt-8 md:mb-0'>
  <ul class='flex gap-4 flex-wrap'>
    <li class='hover:underline hover:scale-95 transition-all'>
      <a href='mailto:contacto@alefs.dev'>Contacto</a>
    </li>
    <li class='hover:underline hover:scale-95 transition-all'>
      <a href='https://www.instagram.com/alefsdev' target='_blank'>Instagram</a>
    </li>
    <li class='hover:underline hover:scale-95 transition-all'>
      <a href='https://www.twitch.tv/alefsdev' target='_blank'>Twitch</a>
    </li>
    <li class='hover:underline hover:scale-95 transition-all'>
      <a href='https://www.github.com/alejandro1709' target='_blank'>Github</a>
    </li>
    <li class='hover:underline hover:scale-95 transition-all'>
      <a href='https://www.youtube.com/@alefsdev' target='_blank'>Youtube</a>
    </li>
  </ul>
</footer>
