---
import Articles from '../../components/Articles.astro';
import projects from '../../data/projects';
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="alefsdev | proyectos"
  description="Descubre todos los projectos que he desarrollado en vivo o en videos de Youtube."
>
  <div class="pt-6">
    <a class="text-blue-500 underline" href="/">Volver</a>
  </div>
  <Articles articles={projects} all />
</Layout>
