---
export interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = 'En esta página podrás encontrar todos mis videos sobre programación, los proyectos que desarrollemos en vivo o los que yo desarrolle por mi cuenta.',
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --background-clr-dark: #282828;
  }

  * {
    padding: 0;
    margin: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    background-color: #282828;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-clr-dark);
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    min-height: 100vh;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
